.map{ 
    position:absolute; 
    top:0; 
    bottom:0;
    left: 0;
    right: 0;
    z-index: -1; 
}

.serach-card{
    width: 30%;
}

.serach-card mat-form-field{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .serach-card{
        width: 90%;
    }

}
